

/* font */

@font-face {
    font-family: "Terminus";
    src: url(TerminusTTF-Bold.ttf);
}
body{
    font-family: "Terminus";
    background-color: #000;
    color: #fff;
    user-select: none;
}


/* menus */

.menu{
    position: fixed;
    background-color: rgba(25, 25, 25, 0.75);
    backdrop-filter: blur(1px);
    border-radius: 0.5em;
    box-shadow: inset 0 0 2em rgba(255, 255, 255, 0.1);
    z-index: 1;
}

#menu-topleft{
    top: 1em;
    left: 1em;
    padding: 0.5em 2em 1.5em 2em;
}
h1{
    text-shadow: 1px 1px black;
    font-size: 1.5em;
}

#menu-topright{
    top: 1em;
    right: 1em;
    padding: 1em 1.5em;
}

#menu-select{
    left: 1em;
    bottom: 1em;
    right: 1em;
    padding: 1em 1.5em;
    text-align: center;
}
#menu-select > button{
    background-image: url(sprites.png);
    background-size: 16em;
    image-rendering: pixelated;
    width: 2em;
    height: 2em;
    border: none;
    cursor: pointer;
    margin-right: 0.5em;
    border-radius: 0.25em;
}
#menu-select > button:hover{
    filter: brightness(1.1);
    transform: scale(1.1);
    transition-duration: 0.1s;
}
.selected{ border: 2px solid red; }


/* intro */

#intro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1px);
    z-index: 2;
    cursor: pointer;
}
#menu-intro{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 30em;
    padding: 1.5em 2em 2em 2em;
    font-size: 1.1em;
}
h2{ font-size: 1.75em; }
b{ text-shadow: 0.5px 0.5px white; }
#start{ font-size: 1.25em; }


/* canvas */

#canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(calc(100vw / 1em), 1em);
    grid-template-rows: repeat(calc(100vw / 1em), 1em);
}
#canvas > div{
    background-image: url(sprites.png);
    background-size: 8em;
    image-rendering: pixelated;
    cursor: pointer;
}
#canvas > div:hover{
    filter: brightness(1.1);
}